<strong>Hello, {{ provider }}</strong>
<p>You have a new cancellation, check the details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{ date }} <br />
  <br />
  <small>The time is again available for new appointments!</small>
</p>
